doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Christian Söderberg Design
    meta(name="description", content="")
    meta(name="author", content="Christian Söderberg")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/assets/css/main.min.css")
    link(rel="icon", type="image/ico", href="favicon.ico")
  
  body
    section.full-page
      include ../assets/img/logo.svg
      h1 Currently under construction
  
  footer