doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Christian Söderberg Design
    meta(name="description", content="")
    meta(name="author", content="Christian Söderberg")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/assets/css/main.min.css")
    link(rel="icon", type="image/ico", href="favicon.ico")
  
  body
    include ./includes/googletagmanager.html
    section.full-page
      include ../assets/img/logo.svg
      h1 This site is getting a makeover
  
  footer
    h5 While you wait
    .links
      a(href="https://se.linkedin.com/in/christiansoderberg") LinkedIn
      a(href="https://twitter.com/Crustan7") Twitter
      a(href="mailto:christian.v.soderberg@gmail.com") Mail me